body {
  background-color: white;
}

#wholeProjectEvenCAD {
  padding-bottom: 40px;
  background-color: rgb(26, 26, 29);
  border-top: 5px solid;
  border-bottom: 5px solid;
  border-color: rgb(195, 7, 63);
  overflow: hidden;
}

#ProjectEvenCADSummany {
  width: 100%;
  display: inline-block;
}

#ProjectEvenCADTitle {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 4vh;
  z-index: -2;
  color: white;
}

#vidDiv {
  width: 100%;
  display: flex;
}

#projectBTN {
  width: 100%;
  margin-bottom: 30px;
}

@media screen and (min-width: 750px) {
  #ProjectEvenCAD {
    width: 60%;
    margin: auto;
  }

  #ProjectEvenCADText {
    width: 100%;
    text-align: center;
    font-size: 2.5vh;
    color: white;
  }

  #ProjectEvenCADVid {
    height: 30vw;
    margin: auto;
    border: 5px solid;
    border-color: rgb(195, 7, 63);
    margin-top: 30px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 750px) {
  #ProjectEvenCAD {
    width: 80%;
    margin: auto;
  }

  #ProjectEvenCADVid {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  #ProjectEvenCADText {
    margin: auto;
    width: 100%;
    font-size: 2.5vh;
    text-align: center;
    color: white;
  }
}
