#wholeProjectOddCAD {
  padding-bottom: 40px;
  overflow: hidden;
  background-color: white;
}

#ProjectOddCADSummany {
  width: 100%;
  display: inline-block;
}

#ProjectOddCADTitle {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 4vh;
  z-index: -2;
  color: rgb(26, 26, 29);
}

#vidDiv {
  width: 100%;
  display: flex;
}

@media screen and (min-width: 750px) {
  #ProjectOddCAD {
    width: 60%;
    margin: auto;
  }

  #ProjectOddCADText {
    width: 100%;
    text-align: center;
    font-size: 2.5vh;
    color: rgb(26, 26, 29);
  }

  #ProjectOddCADVid {
    height: 30vw;
    margin: auto;
    border: 5px solid;
    border-color: rgb(195, 7, 63);
    margin-top: 30px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 750px) {
  #ProjectOddCAD {
    width: 80%;
    margin: auto;
  }

  #ProjectOddCADVid {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  #ProjectOddCADTitle {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 8vw;
    z-index: -2;
    color: rgb(26, 26, 29);
  }

  #ProjectOddCADText {
    margin: auto;
    width: 100%;
    font-size: 5vw;
    text-align: center;
    color: rgb(26, 26, 29);
  }
}
